{% extends 'users.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}
{# <div class="grix xs2">
  <div>Nom :</div>
  <div>{{ app.user.name }}</div>
  <div>Prénom :</div>
  <div>{{ app.user.firtname }}</div>
  <div>Email :</div>
  <div>{{ app.user.email }}</div>
</div> #}
{% endblock %}
